<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - Registration
    </title>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
</head>

<body>
    <div class="container">
        <form id="registrationForm">
            <h2>Register</h2>
            <label for="regUsername">Username:</label>
            <input type="text" id="regUsername" name="username" oninput="handleInput()" required>
            <p id="error_username" style="display: none;">Username already exists!</p>

            <label for="regPassword">Password:</label>
            <input type="password" id="regPassword" name="password" oninput="handleInput()" required>

            <label for="regConfirmPassword">Confirm Password:</label>
            <input type="password" id="regConfirmPassword" name="confirm_password" oninput="handleInput()" required>
            <p id="error_password" style="display: none;">Passwords do not Match!</p>

            <button type="submit">Register</button>
        </form>

        <p>Already registered?</p>&nbsp;<a href="/login">Login</a>
    </div>

    <script>
        const errorPassword = document.getElementById('error_password');
        const errorUsername = document.getElementById('error_username');

        function handleInput() {
            errorPassword.style.display = 'none';
            errorUsername.style.display = 'none';
        }

        document.getElementById('registrationForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const password = document.getElementById('regPassword').value;
            const confirmPassword = document.getElementById('regConfirmPassword').value;
            const username = document.getElementById('regUsername').value;

            if (confirmPassword !== password) {
                errorPassword.style.display = 'block';
                return;
            }

            const response = await fetch('http://localhost:5000/api/auth/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password, confirmPassword }),
            });

            const data = await response.json();
            if (response.ok) {
                alert(data.message);
                window.location.href = "/login";
            } else {
                if (data.error.includes("Username")) {
                    errorUsername.style.display = 'block';
                    return;
                }
                const errorMessage = data.error || "An unexpected error occurred. Please try again.";
                alert(errorMessage);
            }
        });
    </script>
</body>

</html>